#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    //automouse-layer = <4>;

    scroll-layers = <5>;

    arrows {
        layers = <3>;
        bindings =
            <&kp RIGHT_ARROW>,
            <&kp LEFT_ARROW>,
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>;

        tick = <10>;
        wait-ms = <5>;
        tap-ms = <5>;
    };

    appswc {
        layers = <1>;
        bindings = <&kp TAB>, <&kp LS(TAB)>, <&kp UP_ARROW>, <&kp DOWN_ARROW>;

        tick = <10>;
        wait-ms = <5>;
        tap-ms = <5>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        login: login {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_wait_time 2000>,
                <&kp LA(LC(DELETE))>,
                <&macro_wait_time 0>,
                <&kp N3 &kp N0 &kp N8 &kp N2 &kp LBKT &kp M &kp T &kp H &kp S &kp M &kp S &kp H &kp R &kp ENTER>;

            label = "LOGIN";
        };

        l1_eisu_hold: holdxeisuxl1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp INT_MUHENKAN &to 1>,
                <&macro_pause_for_release>,
                <&to 0 &kp INT_HENKAN>;

            label = "HOLDXEISUXL1";
        };

        eisu_hold: eisu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp INT_MUHENKAN>,
                <&macro_pause_for_release>,
                <&kp INT_HENKAN>;

            label = "EISU";
        };

        l1_eisu_hold_alt: l1_eisu_hold_alt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp INT_MUHENKAN &to 1>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&to 0 &kp INT_HENKAN>;

            label = "L1_EISU_HOLD_ALT";
        };

        kigo: kigo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT_HENKAN &kp N &kp SPACE>;
            label = "KIGO";
        };

        kakko: kakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT_HENKAN &kp P &kp E &kp SPACE>;
            label = "KAKKO";
        };

        kakko_maru: kakko_maru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT_HENKAN &kp ASTRK &kp LEFT_PARENTHESIS &kp RET &kp LEFT>;
            label = "KAKKO_MARU";
        };

        kakko_kagi: kakko_kagi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT_HENKAN &kp K &kp SPACE &kp RET &kp LEFT>;
            label = "KAKKO_KAGI";
        };

        kakko_kaku: kakko_kaku {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT_HENKAN &kp LESS_THAN &kp GREATER_THAN &kp RET &kp LEFT>;
            label = "KAKKO_KAKU";
        };

        r_cp: r_copilt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(R) &kp LA(SLASH)>;
            label = "R_COPILT";
        };

        under: under {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT_HENKAN &kp J &kp SPACE &kp ENTER>;
            label = "UNDER";
        };

        teams: teams {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(LC(T))) &kp LC(LA(U))>;
            label = "TEAMS";
        };

        box_link: box_link {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(LA(L)))>;
            label = "BOX_LINK";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        kp_l1: kp_l1 {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_L1";
            bindings = <&l1_eisu_hold>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <120>;
        };

        copy: copy {
            compatible = "zmk,behavior-tap-dance";
            label = "COPY";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>, <&kp LS(LC(C))>, <&kp LC(X)>;

            tapping-term-ms = <400>;
        };

        eamc: eamc {
            compatible = "zmk,behavior-tap-dance";
            label = "EAMC";
            #binding-cells = <0>;
            bindings =
                <&kp UNDERSCORE>,
                <&kp COLON>,
                <&kp DOUBLE_QUOTES>,
                <&kp EQUAL>;

            tapping-term-ms = <400>;
        };

        pc: pc {
            compatible = "zmk,behavior-tap-dance";
            label = "PC";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp COMMA>;
        };

        alt_win: alt_win {
            compatible = "zmk,behavior-tap-dance";
            label = "ALT_WIN";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT>, <&kp LEFT_WIN>;

            tapping-term-ms = <400>;
        };

        kakko_3p: kakko_3p {
            compatible = "zmk,behavior-tap-dance";
            label = "KAKKO_3P";
            #binding-cells = <0>;
            bindings = <&kakko_maru>, <&kakko_kagi>, <&kakko_kaku>;

            tapping-term-ms = <250>;
        };

        eisu: eisu {
            compatible = "zmk,behavior-tap-dance";
            label = "EISU";
            #binding-cells = <0>;
            bindings = <&eisu_hold>, <&kp INT_MUHENKAN>;

            tapping-term-ms = <400>;
        };

        cm: cm {
            compatible = "zmk,behavior-tap-dance";
            label = "CM";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp MINUS>;

            tapping-term-ms = <400>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W     &kp E      &kp R     &kp T                                                            &kp Y           &kp U  &kp I      &kp O       &kp P
&kp A             &kp S     &kp D      &kp F     &kp G                   &kp LS(LG(S))           &copy            &kp H           &kp J  &kp K      &lt 3 L     &lt 5 MINUS
&mt LEFT_SHIFT Z  &kp X     &kp C      &kp V     &kp B                   &mkp MB1                &mt LG(V) LC(V)  &kp N           &kp M  &kp COMMA  &kp PERIOD  &kp_l1 0 SLASH
&eisu             &kp LEFT  &kp RIGHT  &alt_win  &mt LEFT_CONTROL SPACE  &mt LEFT_SHIFT TAB      &kp BACKSPACE    &kp_l1 0 ENTER                                &login
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };

        FUNCTION {
            bindings = <
&trans  &kp F5             &kp F4             &kp F2     &teams                                     &eamc   &kp N7  &kp N8  &kp N9           &kp ESCAPE
&trans  &kigo              &kakko             &kakko_3p  &r_cp              &trans        &kp LBKT  &pc     &kp N4  &kp N5  &kp N6           &cm
&trans  &kp LS(LC(LA(X)))  &kp LS(LA(LC(C)))  &kp LG(N)  &kp LS(LC(LA(B)))  &mkp MB2      &under    &kp N0  &kp N1  &kp N2  &mt LEFT_ALT N3  &kp FSLH
&trans  &trans             &trans             &trans     &trans             &trans        &trans    &trans                                   &kp DEL
            >;
        };

        NUM {
            bindings = <
&kp MINUS                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS                                                   &kp CARET         &kp AMPERSAND      &kp TILDE       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK  &kp LC(LA(KP_NUMBER_0))      &kp UNDERSCORE  &kp EXCLAMATION   &kp AT_SIGN        &kp HASH        &kp DOLLAR            &kp PERCENT
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD    &kp EQUAL                    &trans          &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE       &kp BACKSLASH
&trans                      &trans           &trans           &trans           &trans        &trans                       &trans          &trans                                                                     &kp PIPE
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                         &trans   &trans     &trans  &trans  &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &trans      &trans    &trans   &kp LG(Z)  &trans  &trans  &kp LEFT_SHIFT
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans   &trans      &trans    &trans   &trans     &trans  &trans  &trans
&trans          &trans                  &trans          &trans                   &trans   &trans      &kp HOME  &kp END                             &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans            &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &kp LEFT_CONTROL  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans            &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                    &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
